{% extends 'main.html' %}

{% block content %}
<div class="container ">
    
    <form action="{% url 'pes_chuvas' %}" method="POST">
        {% csrf_token %}
        <div class="row container mt-5">
            
            <div class="col">
                <div class="row">
                
                    <div class="col ">
                        <input name="pesquisa" id="pesquisa" type="text" class=" form-control form-control-sm p-2" id="quantidade" placeholder="Digite aqui...">
                    </div>
                
                </div>
            </div>
            <div class="col">
                <select class="form-select"  name="tipo_pesquisa"  id="tipo_pesquisa">
                    <option selected value="tudo"> Pesquisar por Tudo</option>
                    <option value="id">ID</option>
                    <option value="data">Nome</option>
                    <option value="quantidade">Tipo</option>
                </select>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-warning">Pesquisar</button>
            </div>
        </div>   
     </form>
        
</div>


    <table class="table mt-3">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">Tipo</th>
        </tr>
        </thead>
        <tbody>
            {% for gado in page.object_list  %}
                <tr>
                    <th scope="row">{{ gado.id}}</th>
                    <td>{{gado.nome}} </td>
                    <td>{{gado.tipo.capitalize}} {% if gado.leitera == True %} 🥛 {%endif%}</td>
                    <td> <a href="{% url 'upd_gado' gado.id %}"> <button class="btn btn-primary">Alterar</button> </a></td>
                    <td> <a href="{% url 'del_gado' gado.id %}"><button class ="btn btn-danger">Deletar</button></a></td>
                </tr>
            {% endfor %}

            

        </tbody>
    </table>
    {% if page.has_previous %}
        <a href="{% url 'ger_gado' %}?page={{ page.previous_page_number }}"><button type="submit" class="btn btn-danger mb-2">Anterior</button></a>
    
    {% else %}

        <button type="submit" class="btn btn-danger disabled mb-2">Anterior</button>        
    {% endif %}

    {% if page.has_next %}
        <a href="{% url 'ger_gado' %}?page={{ page.next_page_number }}"><button type="submit" class="btn btn-info mb-2">Próximo</button></a>
    {% else %}
    <button type="submit" class="btn btn-info disabled mb-2">Próximo</button>
    {% endif %}
</div>



{% endblock %}