<style> td, th {text-align:center} </style> 
            <h3 class="title-report">RELATORIO DE CHUVAS REFERENTE A 2024-08-01 ATÉ 2024-08-01</h3>
            <p>Média de Milimetros: None</p>
            <p>Total de Milimetros: None</p>
            <table class="table mt-3">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Quantidade</th>
                    <th scope="col">Data</th>
                </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        