{% extends 'main.html' %}

{% block content %}
<form action="{% url 'rel_despesa' %}" method="POST">
    {% csrf_token %}
    <div class="container text-center mt-4">


        <div class="col-sm-3">
            <div class="mb-3">
                <label for="quantidade" class="form-label">Motivo</label>
                <div class="row">
                    <div class="col">
                        <input name="motivo" type="text" class=" form-control form-control-sm p-2" id="quantidade_de" placeholder="Motivo...">
                    </div>
                </div>
                
            </div>
            

            <div class="mb-3">
                <label for="quantidade" class="form-label">Gasto</label>
                <div class="row">
                    <div class="col">
                        <input name="gasto_de" type="number" class=" form-control form-control-sm p-2" id="preco_de" placeholder="de...">
                    </div>
                   <div class="col">
                        <input name="gasto_ate" type="number" class=" form-control form-control-sm p-2" id="preco_ate" placeholder="até...">
                   </div>
                   
                </div>
            </div>
            <button type="submit" class="btn btn-success">Consultar</button>
        </div>

    </div>
</form>




    {% if despesas is not None %}
    <form id="form-rel" action="{% url 'ger_rel' %}" method="POST" onsubmit="passaTabela()">
        
        {% csrf_token %}
        <input type="hidden" name="tabela" id="content-table"> 
        <button type="submit" class="btn btn-info ml-2">Gerar</button>
        <div id="tabela"> 
            <p class="title-report">Media de Gasto: {{media.gasto__avg}}</p>
            <p class="title-report">Total Gasto: {{total.gasto__sum}}</p>
            <table class="table mt-3">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Motivo</th>
                    <th scope="col">Gasto</th>
                </tr>
                </thead>
                <tbody>
                    {% for despesa in despesas  %}
                        <tr>
                            <th scope="row">{{despesa.id}}</th>
                            <td>{{despesa.tipo}}</td>
                            <td>{{despesa.gasto}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </form>
{% endif %}

{% if msg_erro is not None %}
<div class="alert alert-danger mt-4 container text-center" role="alert">
    {{ msg_erro }}
</div> 
{% endif %}
{% endblock %}