{% extends 'main.html' %}

{%block content %}
<form action="{% url 'sum_leite' %}" method="POST">
    {% csrf_token %}
    <div class="container">
        <div class="row mt-3">
        
            <div class="col">
                <label for="quantidade" class="form-label">De</label>
                <input name="de" required type="date" class=" form-control form-control-sm" id="quantidade" >
            </div>

            <div class="col">
                <label for="quantidade" class="form-label">Até</label>
                <input name="ate" required type="date" class=" form-control form-control-sm" id="quantidade" >
            </div>

            <div class="col">
                <label for="preco" class="form-label">Preço por Litro</label>
                <input name="preco" type="number" class=" form-control form-control-sm" id="quantidade" >
            </div>

            <div class="col">
                <button type="submit" class="btn btn-success mt-4">Somar</button>
            </div>

         </div>
    </div>
</form>   


{% if msg_sucesso is not None %}
    <div class="alert alert-success mt-4 container text-center" role="alert">
        {{ msg_sucesso }}
    </div> 
{% endif %}

{% if msg_erro is not None %}
    <div class="alert alert-danger mt-4 container text-center" role="alert">
        {{ msg_erro }}
    </div> 
{% endif %}

{% if leites != None %}
    <div class="container">
        <form action="{% url 'cad_soma'%}" method="POST">
            {% csrf_token %}
            {% for leite in leites %}
                <input type="hidden" name="leites[]" value="{{leite.id}}">
            {% endfor %}

            <input type="hidden" name="total_litro" value="{{leite_soma}}">
            <input type="hidden" name="total" value="{{total}}">
            <input type="hidden" name="preco" value="{{preco}}">
            <input type="hidden" name="de" value="{{de}}">
            <input type="hidden" name="ate" value="{{ate}}">
            
            <button type="submit" class="btn btn-success mt-4">Registrar</button>
        </form>
    </div>
{% endif %}


        {% if leites != None %}
            <div class="container">
                <p>Total de Litros: {{leite_soma}}</p>
                <p>Total: {{total}}</p>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Quantidade</th>
                        <th scope="col">Data</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for leite in leites  %}
                            <tr>
                                <th scope="row">{{leite.id}}</th>
                                <td>{{leite.quantidade}}</td>
                                <td>{{leite.data}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
   


{% endblock %}