<style>    .table{border: 1px solid black;}tr{   text-align: center;}</style>


                
                    <table class="table" name="">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Quantidade</th>
                                <th scope="col">Data</th>
                            </tr>
                        </thead>
                        <tbody id="corpo-tabela"></tbody>
                    </table>
                