{% extends 'main.html' %}

{% block content %}

<form action="{% url 'cad_despesa' %}" method="POST">
    {% csrf_token %}
    <div class="container text-center mt-4">


        <div class="col-sm-3">
            <div class="mb-3">
                <label for="despesa" class="form-label">Tipo</label>
                <input  required name="tipo" type="text" class=" form-control form-control-sm p-2" id="razao" placeholder="Razão da despesa...">
            </div>
            <div class="mb-3">
                <label for="gasto" class="form-label">Gasto</label>
                <input required type="number" name="gasto"class=" form-control form-control-sm p-2" id="gasto" placeholder="Valor gasto...">
            </div>
            <button type="submit" class="btn btn-success">Cadastrar</button>
        </div>

    </div>
</form>

{% if msg_sucesso != None %}
    <div class="alert alert-success mt-4 container text-center" role="alert">
        {{ msg_sucesso }}
    </div> 
{% endif %}

{% if erro != None %}
<div class="alert alert-danger mt-4 container text-center" role="alert">
    {{ erro }}
</div> 
{% endif %}
{%endblock%}