{% extends 'main.html' %}

{% block content %}
<div class="container ">
    
    <form action="{% url 'pes_despesas' %}" method="POST">
        {% csrf_token %}
        <div class="row container mt-5">
            
            <div class="col">
                <div class="row">
                
                    <div class="col ">
                        <input name="pesquisa" id="pesquisa" type="text" class=" form-control form-control-sm p-2" id="quantidade" placeholder="Digite aqui...">
                    </div>
                
                </div>
            </div>
            <div class="col">
                <select class="form-select" onchange="formataPesquisa()" name="tipo_pesquisa"  id="tipo_pesquisa">
                    <option selected value="tudo"> Pesquisar por Tudo</option>
                    <option value="id">ID</option>
                    <option value="motivo">Motivo</option>
                    <option value="gasto">Gasto</option>
                </select>
            </div>
            <div class="col">
                <button type="submit" class="btn btn-warning">Pesquisar</button>
            </div>
        </div>   
     </form>
        
</div>


    <table class="table mt-3">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Motivo</th>
            <th scope="col">Gasto</th>
            <th scope="col">Alterar</th>
            <th scoper="col"> Deletar</th>
        </tr>
        </thead>
        <tbody>
            {% for despesa in page.object_list  %}
                <tr>
                    <th scope="row">{{despesa.id}}</th>
                    <td>{{despesa.tipo}}</td>
                    <td>{{despesa.gasto}}</td>

                    <td> <a href="{% url 'upd_despesa' despesa.id %}"> <button class="btn btn-primary">Alterar</button> </a></td>
                    <td> <a href="{% url 'del_despesa' despesa.id%}"><button  class="btn btn-danger" onclick="deletaDados('{{despesa.id}}','despesa')" ="btn btn-danger">Deletar</button></a></td>
                </tr>
            {% endfor %}

            

        </tbody>
    </table>
    {% if page.has_previous %}
        <a href="{% url 'ger_chuvas' %}?page={{ page.previous_page_number }}"><button type="submit" class="btn btn-danger mb-2">Anterior</button></a>
    
    {% else %}

        <button type="submit" class="btn btn-danger disabled mb-2">Anterior</button>        
    {% endif %}

    {% if page.has_next %}
        <a href="{% url 'ger_chuvas' %}?page={{ page.next_page_number }}"><button type="submit" class="btn btn-info mb-2">Próximo</button></a>
    {% else %}
    <button type="submit" class="btn btn-info disabled mb-2">Próximo</button>
    {% endif %}
</div>



{% endblock %}